# Weather location (latitude/longitude)
# Find yours at: https://www.latlong.net/
WEATHER_LAT=41.31
WEATHER_LON=-72.92
WEATHER_LOCATION=New Haven, CT

# Timezone (IANA format)
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
WEATHER_TIMEZONE=America/New_York

# Units: celsius or fahrenheit
WEATHER_UNITS=celsius
